.blog-list { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;

    .blog-card{
        width: 30%;
        border-radius: $border-radius;
        background: $white;  
        box-shadow: $box-shadow-blog-card ;
        margin-top :4.2em;

        &-img { 
            // aspect-ratio: 3/2;
            // object-fit: cover;
            width: 90%;
            border-radius: $border-radius;
            display: block;
            margin: -4em auto 0;
            box-shadow: $box-shadow-blog-img ;
            height: 50%;

            
        }
        &-content {

            padding: 2em 2em 1em;
            height: calc(50% + 4em);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
  
}
