{% extends 'base.html.twig' %}

{% block title %}
	Admin des articles |
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="container mt-4">
		<h1 class="text-center">Administration des categories</h1>
		<a href="{{ path('admin_categorie_create') }}" class="btn btn-secondary">Créer une categorie</a>

		{% for categorie in categories %}
			{% include "Components/_cardCateg.html.twig" %}

		{% endfor %}

	</section>
{% endblock %}
