{% extends 'base.html.twig' %}

{% block title %}
	Admin des articles |
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="container mt-4">
		<h1 class="text-center">Administration des catégories</h1>
		<a href="{{ path('admin_categorie_create') }}" class="btn btn-secondary">Créer une catégorie</a>
		<div class="blog-list">
			{% for categorie in categories %}
				{% include "Components/_cardCateg.html.twig" %}

			{% endfor %}

		</section>
	{% endblock %}
