{% extends 'base.html.twig' %}

{% block title %}Modification d'un categorie |
	{{parent()}}
{% endblock %}


{% block body %}
	<a href="{{path('admin_categorie_index')}}" class="me-auto btn btn-warning ms-3 mt-3">Retour</a>
	<section class="container mt-4">
		<h1 class="text-center">Modification d'categories</h1>
		{% include "Backend/Categorie/_form.html.twig" with {button_label : 'Modification'} %}

	</section>
{% endblock %}
