<div class="blog-card tags">
	<div class="blog-card-content">
		<h2 class="blog-card-header">{{ categorie.titre }}</h2>
		<p>{{ categorie.actif ? 'Active' : 'Non active' }}</p>
		<div class="d-flex justify-content-between">
			<a href="{{ path('admin_categorie_update', {id: categorie.id}) }}" class="btn btn-warning">Modifier</a>
			{% include 'Backend/Categorie/_deleteForm.html.twig' %}
		</div>
	</div>
</div>
